ul{
    list-style: none;
}

.video{

    width: 100%;
    height: 970px;
}

.container{
    background-color: #f9f9ff;
    width: 100%;
}

#header{
    padding: 14px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 2;
    display:flex; 
}

#header.header-scrolled{
    background: rgba(0,0,0,0.8);
    transition: all 0.5s;
    height: 70px;
}

.logo{
    color:white;
}

.logo h1{
    margin: 0px 5px 5px 15px;
}

.logo a{
    color: white;
    text-decoration: none;
}

.nav{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;  
}

.nav>li>a{
    padding: 10px 25px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
    margin-right: 5px;
}

.nav a:hover{
    color: #23527c;
}

.video-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 0;
}

.intro{
    width: 100%;
    height:100%;
    position: absolute;
    top: 250px;
    text-align: center;
    z-index: 1;
}

.intro img{
    border: 3px solid white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.intro>h1{
    color: white;
    font-size: 50px;
    font-weight: 400;
    margin: 30px 0px 20px 0px;
    text-shadow: 1px 5px 10px black;
}

.intro>h3{
    color: white;
    font-size: 26px;
    font-weight: 400;
    padding-top: 20px;
    text-transform: uppercase;
    text-shadow: 1px 5px 10px black;
}

.home-2{
    position: relative;
    height: 100%;
    min-height: 520px;
}

.about-me{
    padding:100px 0px 50px 0px;
    margin-left: 60px !important;
    margin-right: 60px !important;
    width: 100%;
}

.about{
    padding: 15px 5px 0px 35px;
}

.about-me p{
    font-family: fantasy;
    font-size: 15px;
    line-height: 35px;
    padding-top: 10px;
}

.social{
    float: left;
    font-size: 24px !important;
    margin-right: -15px;
}

.about-me i:hover{
    color:white;
    background-color: black;
    transition: background-color 1.5s ease;
}

.about-me ul{
    display: inline-flex;
    padding-top: 10px;
}

.about-me a{
    padding: 5px;
}

.about-me i{
    border: 1px solid black;
    border-radius: 50%;
    padding: 15px;
}

.languages{
    text-align: center;
    padding-top: 15px;
}

.langAndTechRows{
    display: flex;
    justify-content: space-evenly;
    padding: 6px;
}

.langAndTechRows img{
    width: 100px;
    height: 100px;
}

.portHead{
    display:flex;
    justify-content: center !important;
    margin-top: 20px;
}

#portfolioPics{
    text-align: center;
    display:flex;
    justify-content: center !important;
    margin: 20px 0px 0px 10px;
}

#portfolioPics img{
    width: 100%;
    height: 180px;
}

.single-work {
    position: relative;
    overflow: hidden;
}

.single-work:hover .work-overlay {
    opacity: 1;
}

.work-overlay {
    position: absolute;
    pointer-events: none;
    padding: 12px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.effect {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.work-overlay h3 {
    position: absolute;
    bottom: 40px;
    left: 26px;
    color: #eee;
    font-size: 18px;
}

.work-overlay p {
    position: absolute;
    font-size: 12px;
    color: #ddd;
    left: 26px;
    bottom: 10px;
}

.contact{
    display:flex;
    justify-content: center;
    background-color: #f9f9ff;
    margin-left: 50px;
    width: 90%;
}

.contact i{
    margin-right: 10px;
    font-size: 40px;
    float: left;
}

#contactMe{
    margin-left: 50px;
    margin-right: 50px;
    width: 90%;
}

textarea{
    height: 200px;
}

#contactMe input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#error{
    text-align: center;
    color: red;
    font-size: 30px;
    padding-bottom: 60px;
}

/*
////////////////////////////////////////////////
--------          MEDIA QUERIES         --------
////////////////////////////////////////////////
*/

/* 700 - 830 SCREEN RESOLUTION */
@media screen and (min-width: 700px) and (max-width: 830px) {

    .intro{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 110px;
        text-align: center;
        z-index: 1;
    }

    .intro>h1{
        color: black;
        font-size: 40px;
        font-weight: 400;
        margin: 30px 0px 20px 0px;
    }

    .intro>h3{
        color: black;
        font-size: 26px;
        font-weight: 400;
        padding-top: 20px;
        text-transform: uppercase;
    }

    .about-me{
        display:flex;
        padding: 0px 0px 50px 0px;
        margin-left: 60px !important;
        width: 100%;
    }

    .about{
        width: 40%;
    }

    .languages{
        width: 40%;
    }

    .home-2{
        min-height: 510px;
        position: relative;
        height: 100%;
    }

    .video-wrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 70;
        z-index: 0;
    }
}

/* 1300 - 1600 SCREEN RESOLUTION */
@media screen and (min-width: 1300px) and (max-width: 1600px) {
    .home-2{
        min-height: 700px;
        position: relative;
        height: 100%;
    }

    .video-wrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 0;
    }
}

/* 1600 - 1899 RESOLUTION */
@media screen and (min-width: 1600px) and (max-width: 1899px) {
    .home-2{
        min-height: 780px;
        position: relative;
        height: 100%;
    }

    .video-wrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 0;
    }
}
/* 1900+ RESOLUTION */
@media screen and (min-width: 1900px) {
    .home-2{
        min-height: 900px;
        position: relative;
        height: 100%;
    }

    .video-wrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 0;
    }
}





